@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #c77d6d;
    overflow: hidden;
    z-index: -2;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 51%;
    width: 116px;
    height: 116px;
    bottom: -116px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 80%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 87%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 76%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 10s;
}
.background li:nth-child(4) {
    left: 62%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 3s;
}
.background li:nth-child(5) {
    left: 51%;
    width: 187px;
    height: 187px;
    bottom: -187px;
    animation-delay: 20s;
}
.background li:nth-child(6) {
    left: 55%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 16s;
}
.background li:nth-child(7) {
    left: 54%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 2s;
}
.background li:nth-child(8) {
    left: 30%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 5s;
}
.background li:nth-child(9) {
    left: 29%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 6s;
}